{;:deps {:aliases [:dev]} ; In a real app consider using `deps.edn` instead.

 :source-paths ["src/main"
                "src/test"]

 :dependencies [[reagent "1.0.0"]
                [re-frame "1.1.2"]
                [binaryage/oops "0.7.0"]]

 :builds {:app {:target           :react-native
                :init-fn          example.app/init
                :output-dir       "app"
                :compiler-options {:infer-externs :auto}
                :devtools         {:autoload true
                                   :preloads [shadow.expo.keep-awake]}}}}
s
